body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
}

header {
    background: #69676d;
    color: rgb(212, 245, 66);
    padding: 60px 20px;
    text-align: center;
    text-decoration: darkblue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin: 10px;
    padding-bottom: 10px;
}

p {
    margin: 0;
    padding-bottom: 20px;
}

button {
    background: #0069d9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #940707;
}
.about{
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(127, 238, 223);
}
.contact {
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(199, 214, 213);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 50px 0 5px;
}

input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #131212;
    border-radius: 5px;
}

footer {
    background: #1e2022;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}
